


  /* Css Place */
 .form{
     background-color: #aca7a7;
     padding-top: 15px;
     padding-bottom: 15px;
 }
 .in-form{
     
    margin-left: 15px;
    margin-right: 15px;

 }
 .header-form{
     text-align: center;
 }
 .buttom{
     text-align: center;
     
 }
 table{
     /* width: 100%; */
     border: white;
     border-spacing: ;
 }
 button{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color:#fb1c36;
    border: 0px;
 }
