

.text-video{
    text-align: center;
    color: red;
}
.can-anh{
    width: 100%;
}
.sanpham{
    margin-bottom: 15px;
}
.can-le{
    
    padding-left: 0px !important;

}
.margin-ft{
 
    padding-right: 202px !important;
    padding-left: 189px
   }